/* 
=====================================================================================
                                    Body
=====================================================================================
*/ 
#banniere{
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banniere img{
    width: max(70%,500px);
    height: auto;

    animation: fadeAndScale 3s ease-out;
    animation-delay: 0.1s;
    transform-origin: center;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fadeAndScale {
    0% {
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.titleh2{
    text-size-adjust: 100%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
    width: 50%;
    font-size: var(--title-font-size);
}

.SideBySideDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.SideBySideDiv div{
    width: 50%;
}

@media (max-width: 1200px) {
    .SideBySideDiv{
        flex-direction: column;
    }

    .SideBySideDiv div{
        width: 100%;
    }
}

#banniereImg{
    width: 80%;
    height: auto;
}

#Jeux{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: max(10vh,200px);
    margin-top  : 2%;
    margin-bottom : 2%;
}

.gameSection div{
    display: flex;
    justify-content: center;
}

.gameSection div:nth-child(1){ /* Image */
    margin-right: 2%;
    width: 40%;
    align-items: center;
}

.gameSection div:nth-child(2){ /* Title + game description */
    flex-direction: column;
    width: 40%;
}

.gameSection h3{
    margin-bottom: max(3%,10px);
    font-size: var(--subtitle-font-size);
}

.gameSection img{
    height: min(auto,100%);
    width: min(90%,300px);
}

.gameSection div p{
    font-size: var(--small-text-font-size);
    text-align: justify;
}
