.Speech p, .Speech ul li {
    text-shadow: #FC0 1px 0 10px;
}

.Speech a{
    margin-top:  max(2%,20px);;
}

h2{
    text-size-adjust: 100%;
    margin: auto;
    align-content: center;
    text-align: center;
    font-size: var(--title-font-size);
}

h3{
    margin: auto;
    align-content: center;
    text-align: center;
    font-size: var(--subtitle-font-size);
}

.Speech ul li{
    font-size: var(--text-font-size);
    list-style: square;
}

.Speech ul{
    margin-top: 3%;
}
